html, body {
    height: 100%;
    width: 100%;
    background-color: black;
  }

  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.button {
  /* position:fixed; */
  bottom:100px;
  height: 50px;
  background-color: lightblue;
  border-style: solid;
  border-color: yellow;
  border-radius: 5px;
  position: relative;
  left: auto;
  animation-name: example ;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

@keyframes example {
  0%   {left:0px; top:0px;}
  20%   {left:100px; top:-100px;}
  40%   {left:-250px; top:250px;}
  60%   {left:12px; top:-26px;}
  80%   {left:-78px; top:-163px;}
  100%   {left:0px; top:-10px;}

}

